body {
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 3px;
  width: 700px;
  padding: 20px;
  background-color: rgb(191, 221, 225);
  display: grid;
  justify-content: center;
  align-items: center;
}

video {
  width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  height: 30px;
  width: 120px;
  margin: 0 10px;
  border-radius: 20px;
  color: black;
}

button:hover {
  border-color: rgb(22, 23, 22);
  background-color: rgb(61, 197, 52);
  color: blue;

}